{% extends "base.html" %}

{% block head_content %}
<title>Savatto Music | {{ user.profile.name }}</title>
{% endblock %}

{% block container %}


<div class="profile--container">
    <div class="profile--header">
        <div class="profile_band-item">
            <img class="profile_band-item__img" src="{{ user.profile.picture.url }}" alt="" />
        </div>
        <div class="profile--header__info">
            <h3 class="profile--header__band">{{ user.profile.name }}</h3>
            <h5>{{ user.profile.genre }}</h5>
            <p class="profile--header__biography">{{ user.profile.biography }}</p>
        </div>
    </div>
    <div class="profile--content">
        <div class="profile--content__titles">
            <p>Título</p>
        </div>
        <ul class="songlist">

            {% if user.profile.namesong1 %}
            <li class="song">
                <div class="song--title__container">
                    <div class="mp3_buttons">
                        <button type="button" class="mp3_button" data-toggle="modal"
                            data-target="#{{ user.profile.namesong1 }}">
                            <i class="play--icon" data-feather="play"></i>
                        </button>
                    </div>
                    <p>{{ user.profile.namesong1 }}</p>
                </div>

            </li>
            {%endif%}

            {% if user.profile.namesong2 %}
            <li class="song">
                <div class="song--title__container">
                    <div class="mp3_buttons">
                        <button type="button" class="mp3_button" data-toggle="modal"
                            data-target="#{{ user.profile.namesong2 }}">
                            <i class="play--icon" data-feather="play"></i>
                        </button>
                    </div>
                    <p>{{ user.profile.namesong2 }}</p>
                </div>

            </li>
            {%endif%}

            {% if user.profile.namesong3 %}
            <li class="song">
                <div class="song--title__container">
                    <div class="mp3_buttons">
                        <button type="button" class="mp3_button" data-toggle="modal"
                            data-target="#{{ user.profile.namesong3 }}">
                            <i class="play--icon" data-feather="play"></i>
                        </button>
                    </div>
                    <p>{{ user.profile.namesong3 }}</p>
                </div>

            </li>
            {%endif%}


        </ul>
    </div>
    <div class="profile--schedule">
        <div class="profile--schedule--items">
            <p class="profile--price">{{ user.profile.price }} / Hora</p>
            <button class="profile--schedule__btn">
                <i class="play--icon" data-feather="calendar"></i>
                <p class="profile--schedule__text">Agendar</p>
            </button>
        </div>
    </div>
</div>


{% if user.profile.namesong1 %}
<!-- Modal -->
<div class="modal fade" id="{{ user.profile.namesong1 }}" tabindex="-1" role="dialog"
    aria-labelledby="{{ user.profile.namesong1 }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ user.profile.namesong1 }}Title">{{ user.profile.namesong1 }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/{{ user.profile.urlsong1 }}"
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endif%}

{% if user.profile.namesong2 %}
<!-- Modal -->
<div class="modal fade" id="{{ user.profile.namesong2 }}" tabindex="-1" role="dialog"
    aria-labelledby="{{ user.profile.namesong2 }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ user.profile.namesong2 }}Title">{{ user.profile.namesong2 }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/{{ user.profile.urlsong2 }}"
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endif%}

{% if user.profile.namesong3 %}
<!-- Modal -->
<div class="modal fade" id="{{ user.profile.namesong3 }}" tabindex="-1" role="dialog"
    aria-labelledby="{{ user.profile.namesong3 }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ user.profile.namesong3 }}Title">{{ user.profile.namesong3 }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/{{ user.profile.urlsong3 }}"
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endif%}

{% endblock %}