{% extends "base.html" %}

{% block head_content %}
<title>Savatto Music | Explorar</title>
{% endblock %}

{% block container %}
<section class="filters">
    <div class="dropdown">
        <button class="filters_btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtros
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Rock
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Metal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Salsa
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Merengue
                    </label>
                </div>
            </form>
            <button type="submit" class="filters_submit_btn btn btn-primary">Filtrar</button>
        </div>
    </div>
</section>
<section class="main_bands">
    <section class="bandscontainer">
        {% for band in user %}
            {% include "band_card.html" %}
        {% endfor %}
    </section>
</section>
{% include "pagination.html" %}

{% endblock %}