{% extends "base.html" %}

{% block head_content %}
<title>Savatto Music</title>
{% endblock %}

{% block container %}


<div class="carousel--container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for band in user|slice:":5" %}
            {% if forloop.first %}
            <div class="carousel-item active">
                <a href="{% url "users:detail" band.username %}">
                    <p class="carousel-item_title">{{ band.profile.name }}</p>
                    <img src="{{ band.profile.picture.url }}" class="d-block">
                </a>
            </div>
            {% else %}
            <div class="carousel-item">
                <a href="{% url "users:detail" band.username %}">
                    <p class="carousel-item_title">{{ band.profile.name }}</p>
                    <img src="{{ band.profile.picture.url }}" class="d-block">
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="line"></div>
<div class="genre_container">
    <div class="genre">
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Salsa</p>
                <img src="../../static/src/genre/salsa.jpg" alt="">
            </a>
        </div>
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Pop</p>
                <img src="../../static/src/genre/pop.jpg" alt="">
            </a>
        </div>
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Rock</p>
                <img src="../../static/src/genre/rock.jpg" alt="">
            </a>
        </div>
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Son cubano</p>
                <img src="../../static/src/genre/son_cubano.jpg" alt="">
            </a>
        </div>
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Urbano</p>
                <img src="../../static/src/genre/urban.jpg" alt="">
            </a>
        </div>
        <div class="genre_item">
            <a href="#">
                <p class="genre_item_title">Popular</p>
                <img src="../../static/src/genre/popular.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="show_all">
    <a href="{% url 'users:garage' %}">
        <div class="show_all_button">
            <p class="show_all_text">Explorar</p>
        </div>
    </a>
</div>

{% endblock %}